/************ Reusebal ************/
body {
    font-size: 14px;
    font-family: "Ubuntu Condensed, Roboto Condensed", sans-serif;
}

h2 {
    font-family: "Ubuntu Condensed";
    font-size: 3.5rem;
}

.btn {
    font-family: "Roboto Condensed";
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0%;
    color: #000;
}

.btn:hover {
    color: #0aaaaa;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.secondary-btn {
    color: #fff;
}
.secondary-btn:hover  {
    color: #0aaaaa;
}
.read-btn {
    color: #221f1f;
}

.head {
   color: #000;
}
.head-two {
   color: #fff;
   margin-bottom: 20px;
}

.para {
    margin-bottom: 30px; 
    padding-bottom: 30px; 
    font-size: 18px; 
    font-weight: bold;
}
.contant {
    padding-bottom: 30px;
    line-height: 35px;
    font-size: 18px;
}

ul {
    margin-left: 0;
}

.right-section {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
}

.right-border {
    border-right: 1px solid #aaaaaa;
}


.color-change {
    color: #0aaaaa;
    font-weight: normal;
}

.breadcrumb {
    margin-bottom: 0;
}

.breadcrumb-item.active {
    color: #cccc;
}

/* Main */
#navBar {
    border-bottom: 1px solid #e7e7e7;
    background: #fff;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 72px;
    top: 0;
}

#logo {
    font-size: 2.7rem;
    font-weight: 700;
    font-family: 'Roboto Condensed';
}

.logo-color {
    color: #808080;
}

#navbarNav {
    justify-content: end;
}

.nav-link.navigation-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    text-transform: uppercase;
    font-family: Roboto Condensed;
    font-size: 1.2rem;
    font-weight: 700;
}

#newsroom-btn {
    margin-top: 5%;
}

#newsroom-btn:hover {
    color: #0aaaaa;
}

h2 {
    font-size: 50px;
    line-height: 52px;
    font-weight: normal;
}

.who-we-are {
    padding: 77px 0 90px;
}
.who-we-are .head,
#sectors .head {
    margin-bottom: 20px;
}

/* banner */
.Brahmayya-wrapper {
    position: relative;
    top: 72px;
}

/* Who we are  */
.half-Wrap {
    position: relative;
    /* padding: 77px 0 90px */
}

.half-img {
    bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.img-fluid.who-we-are-img {
    width: 100%;
    height: 100%;
}

/* What we do */
#what-we-do {
    background: #221f1f;
    padding: 77px 0 90px;
}

.what-we-do-wrapper {
    position: relative;
}

.what-we-do-wrapper .more-btn{
    background: #221f1f;
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: -8%;
    left: 42%;
}

/* sectors */
#sectors {
    padding: 77px 0 90px;
}

#sectors-inner {
    padding: 0 15px 70px;
    text-decoration-line: none;
}

#sectors-inner .sectors-inner-box {
    border-right: 1px solid #d5d5d5;
    margin-bottom: 20px;
}

#sectors-inner .sectors-inner-box .sectors-img {
    display: block;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
}

#sectors-inner .sectors-title {
    display: block;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #221f1f;
    font-family: 'Roboto Condensed';
}

#sectors-inner .sectors-title:hover {
    color: #0aaaaa;
}

#sectors-inner .sectors-inner-box.hide {
    border: none;
}

/* newsroom */
.newsroom {
    background-color: #221f1f;
    padding: 77px 0 90px;
    color: #fff;
}

.newsroom .head,
.locations .head {
    color: #fff;
    padding-bottom: 50px;
}

.newsroom .newsroom-inner .newsroom-title {
    padding-bottom: 15px;
    font-size: 18px;
}

.newsroom-inner .newsroom-inner-box {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 20px 0 40px 0;
}

.newsroom-inner .newsroom-inner-box .newsroom-inner-wrapper {
    padding: 30px 0;
}

.newsroom-inner-wrapper .items {
    padding-bottom: 20px;
    list-style: none;
    line-height: 35px;
    font-size: 18px;
}

.newsroom-inner-wrapper .items i {
    color: #0aaaaa;
    font-size: 8px;
    margin-right: 15px;
}

.newsroom-inner-wrapper .dates {
    display: block;
    padding: 15px 0;
    margin-left: 30px;
    color: #0aaaaa;
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
}

/* work with us */
#work-with-us {

    position: relative;
}

.img-fluid.work-with-us-img {
    height: 450px;
}

#work-with-us .withus-content {
    padding: 77px 0 90px;
    width: 50%;
    padding-bottom: 30px;
    position: absolute;
    top: 55px;
    color: #fff;
}

.withus-content .work-with-us-head {
    margin-bottom: 20px;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    line-height: 52px;
}

.withus-content p { 
    padding-bottom: 30px;
    line-height: 40px;
    color: #ffffff;
    font-size: 18px;
}

.work-with-us-inner .work-with-us-head {

}

#work-with-us .withus-content {
    margin-right: 30%;
}

/* locations */
.locations {
    background-color: #221f1f;
}

.locations .location-wrapper {
    padding-bottom: 20px;
}

.location-wrapper .locations-inner {
    margin-right: 40%;
    padding: 50px 30px 50px 30px;
}

.location-wrapper .location-list {
    padding-left: 0;
}

.location-wrapper .location-item {
    list-style: none;
    display: inline;
}

.location-wrapper .location-link {
    color: #aaaaaa;
    text-decoration-line: none;
    line-height: 40px;
    font-weight: 600;
}

.location-wrapper .location-link:hover {
    color: #0aaaaa;
}

/* footer */
.location-wrapper .footer {
    background-color: #221f1f;
    padding: 20px 30px 20px 30px
}

/* History */
.history {
    background-image: url(../image/brahmayya-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
    line-height: 36px;
}

.history-wrapper,
.work-wrapper {
    background-color: #fff;
    padding: 50px 30px 50px 30px;
}

.history .head {
    color: #000;
    font-size: 50px;
    font-weight: normal;
    line-height: 52px;
    padding-bottom: 35px;
}

.history .tab-content>.active {
    margin-left: 0;
    margin-right: 2%;
} 

/* Work */
.work-wrapper .work-head {
    font-size: 1.1rem;
    line-height: 37px;
    font-weight: bold;
}

.accordion.work-accordion {
    color: #000;
    font-weight: bold;
    border: none;
}

.accordion-item {
    border: none;
}

.accordion-button {
    padding: 0.5rem 0;
    font-size: 17px;
    font-weight: 700;
    line-height: 37px;
    font-family: sans-serif;
    /* font-size: 16px; */
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
    box-shadow: none;
    outline: none;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    color: #000;
    background-color: #fff;
    box-shadow: none;
    outline: none;
}

.accordion-body .item {
    list-style: none;
}

.accordion-body .item a {
    color: #221f1f;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 47px;
}

#v-pills-tabContent h5 {
    font-size: 1rem;
    font-weight: 700;
}

.careers-img-box {
    margin-left: 30px;
    padding: 25% 0;
}

#inputGroupFile01 {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: normal;
    background: #fff !important;
}

.fa-cloud-arrow-up:before, .fa-cloud-upload-alt:before, .fa-cloud-upload:before {
    content: "\f0ee";
    text-align: right;
    position: absolute;
    right: 11px;
    font-size: 1.3rem;
    color: #aaaaaa;
}

/* Careers Form */
.input-group-text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    width: 100px;
}



#nav-tabContent {
    border-bottom: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    line-height: 35px;
    font-size: 18px;
    position: relative;
}

.tab-content>.active {
    margin-left: 16%;
    margin-right: 16%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.nav-link.tabbination {
    width: 33.33%;
    transition-property: border-color;
    transition-duration: 1s;;
    transition-timing-function: cubic-bezier(0.2, -2, 0.8, 2);
}

.nav-link.tabbination {
    border-color: #0aaaaa;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background-color: transparent;
    font-family: 'Roboto Condensed';
    font-size: 20px;
    color: #fff;
    border: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #0aaaaa;
}


.loc-link {
    color: #aaaaaa;
    text-decoration-line: none;
    display: block;
}

.loc-link:hover {
    color: #0aaaaa;
    text-decoration-line: none;
}

.Finance-and-Banking {
    /* margin: 0 -30px; */
    /* padding: 60px 30px; */
}

.Finance-and-Banking-inner h4 {
    font-weight: 400;
}

.Finance-and-Banking-inner p {
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: bold;
}

.Finance-and-Banking-list {
    padding: 0;
    font-size: 16px;
}

.Finance-and-Banking-list p {
    font-weight: bold;
    font-size: 18px;
}

.Finance-and-Banking-item {
    list-style-type: none;
}

.Finance-and-Banking-item i {
    margin-right: 10px;
    padding: 15px 10px 15px 10px;
    color: #0aaaaa;
    font-size: 8px;
}

.right-Finance-and-Banking-item {
    list-style: none;
    padding: 25px;
}

.right-Finance-and-Banking-img {
    margin-right: 20px;
    width: 40px;
}

.right-Finance-and-Banking-title {
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 700;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link .right-Finance-and-Banking-title {
    color: #fff;
    background-color: transparent;
    color: #000;
    text-align: left;
    padding-left: 0;
    font-weight: 800;
    font-size: 16px;
    /* padding: 20px 20px 20px 0; */
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link .right-Finance-and-Banking-title {
    color: #fff;
    background-color: transparent;
    color: #0aaaaa;
}

.manufacturing-inner {
    display: flex;
    justify-content: space-between;
}

.breadcrumb-link {
    color: #fff;
    text-decoration: none;
}

.breadcrumb-link:hover {
    color: #fff;
}

.breadcrumb-link:active {
    color: #aaaaaa;
    text-decoration: none;
}

/* newsroom */
#newsRoom {
    background-image: url("../image/brahmayya-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.newsRoom-wrapper {
    position: relative;
    padding: 50px 30px 50px 30px;
}

.newsRoom-wrapper-content {
    color: #fff;
    position: absolute;
    top: 16%;
    left: 5%;
    line-height: 36px;
    font-size: 14px;
    margin-right: 35%;
}

.newsRoom-wrapper-content p {
    line-height: 36px;
    font-size: 16px;
}

/* contact */
.contact-box {
    display: flex;
}

.contact-box .list {
    margin-bottom: 3rem;
}

.contact-box .list p {
    margin-bottom: 0;
    font-weight: bold;
}

.contact-box .item {
    list-style: none;
}

.contact-radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.contact-radio input { 
    margin-top: 13px;
    /* margin-bottom: 10px; */
}

.contact-radio span {
    margin-right: 12px;
    margin-left: 12px;
    font-size: 14px;
}

.work-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Media Queary */
@media (max-width: 992px) {
    #sectors-inner .sectors-inner-box {
        border: none;
    }

    .history {
        background-image: none;
    }

    .history-wrapper, .work-wrapper {
        padding: 0;
    }

    .container,
    .container {
        margin: 0;
    }

    /* #v-pills-tab {
        padding-top: 40px;
    } */
}


@media (max-width: 768px) {
    .half-img {
        display: none;
    }

    .who-we-are {
        padding-right: 0;
        padding: 34px 0 40px;
    }
    .who-we-are .head {
        padding-bottom: 10px;
    }
    .contant {
        padding-bottom: 10px;
    }
    #what-we-do .head-two {
        text-align: center;
        margin-bottom: 20px;
    }
    .tab-content>.active {
        margin-left: 2%;
        margin-right: 2%;
    }

    .newsroom-inner {
        padding-bottom: 40px;
    }

    .work-wrapper {
        flex-direction: column;
    }
    .right-border {
        border: none;
    }
    .para {
        padding-bottom: 0px; 
        margin-bottom: 0;
    }
    #newsroom-btn {
        margin-top: 0%;
    }
    .location-wrapper .locations-inner {
        margin-right: 0%;
    }
}

@media (max-width: 640px) { 
    .content {
        margin-right: 0;
    }

    .newsroom,
    .locations,
    .work-with-us-head {
        padding: 60px 0 20px;
    }

    .locations-inner {
        margin-right: 0;
    }
}

@media (max-width: 360px) { 
    #logo {
        font-size: 1.8rem ;
        font-weight: 700;
        font-family: sans-serif;
    }

}


